<div class= "container">

    <form [formGroup] = "formulario" novalidate (ngSubmit)="onSubmit()">
       <div>
   
        <mat-form-field appearance="outline">
       <mat-label>Nombre_De_Hotel</mat-label>
       <input matInput placeholder="Ingrese El Nombre" formControlName="Nombre_De_Hotel">
       <mat-icon matSuffix>touch_app </mat-icon>
       <mat-hint>Hint</mat-hint>
     </mat-form-field>

     <mat-form-field appearance="outline">
        <mat-label>Direccion</mat-label>
        <input matInput placeholder="Ingrese La Direccion" formControlName="Direccion">
        <mat-icon matSuffix>touch_app </mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>fecha_De_Construccion</mat-label>
        <input matInput placeholder="Ingrese el Año" formControlName="fecha_De_Construccion">
        <mat-icon matSuffix>touch_app </mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>

      
     <mat-form-field appearance="outline">
       <mat-label>status</mat-label>
       <input matInput placeholder="Estado Del Hotel" formControlName="status">
       <mat-icon matSuffix>android</mat-icon>
       <mat-hint>Hint</mat-hint>
     </mat-form-field>
   
       </div>
   
       <div>
   
       <button mat-fab disabled type="submit" [disabled]="formulario.invalid">
             <mat-icon>Send</mat-icon>
       </button>
   
   
       </div>
    </form>
   
   
   </div>
   
