<div class= "container">

    <form [formGroup] = "formulario" novalidate (ngSubmit)="onSubmit()">
       <div>
   
        <mat-form-field appearance="outline">
       <mat-label>nombre</mat-label>
       <input matInput placeholder="Ingrese El Nombre" formControlName="nombre">
       <mat-icon matSuffix>touch_app </mat-icon>
       <mat-hint>Hint</mat-hint>
     </mat-form-field>

     <mat-form-field appearance="outline">
        <mat-label>apellido</mat-label>
        <input matInput placeholder="Ingrese el apellido" formControlName="apellido">
        <mat-icon matSuffix>touch_app </mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>direccion</mat-label>
        <input matInput placeholder="Ingrese Su Direccion" formControlName="direccion">
        <mat-icon matSuffix>touch_app </mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>telefono</mat-label>
        <input matInput placeholder="Ingrese Telefono" formControlName="telefono">
        <mat-icon matSuffix>touch_app </mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
   
     <mat-form-field appearance="outline">
       <mat-label>status </mat-label>
       <input matInput placeholder="Estado De La status" formControlName="status">
       <mat-icon matSuffix>android</mat-icon>
       <mat-hint>Hint</mat-hint>
     </mat-form-field>
   
       </div>
   
       <div>
   
       <button mat-fab disabled type="submit" [disabled]="formulario.invalid">
             <mat-icon>OK</mat-icon>
       </button>
   
   
       </div>
    </form>
   
   
   </div>
   